  * {
    margin: 0;
    padding: 0;
  }

  .wrap {
    padding:30px 20px;
    text-align: center;
  }

  p {
    width: 100%;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-weight: 900;
    border-radius: 140px 140px 0 0;
    text-align: center;
    text-rendering: optimizeLegibility;
    margin-bottom: 20px;
  }

    p:before {
      color:#ccc;
      font-family: "georgia", times, serif;
      font-size:6em;
      line-height:2em;
      vertical-align:-.0em;
    }

  span {
    font-size: 60px;
    text-transform: lowercase;

  }

  #word-1 {
    color: #444;
  }

  #word-2 {
    color: #999;
  }

  button {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(129, 188, 0, 1);
  border-color: rgba(129, 188, 0, 1);
  border-width: 3px;
  border-style: solid solid solid solid;
  padding: 60px 10px;
  border-radius: 300px;
  font-size: 2em;
  background:#fff;
  cursor: pointer;
  transition-property: background-color, color, box-shadow, font-weight;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  }

    button:focus{
      outline: none;
    }

    button:active {
      transition-property: background-color, color, box-shadow;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
      background: rgba(129, 188, 0, 1);
      color: #fff;
      font-weight: 900;
    }
